In [14]:
import pandas as pd
import numpy as np
from requests import Request, Session
from requests.exceptions import ConnectionError, Timeout, TooManyRedirects
import json, os

In [15]:
pd.set_option('display.max_columns', None)

In [3]:
def api_runner():
        global file
        url = 'https://sandbox-api.coinmarketcap.com/v1/cryptocurrency/listings/latest'
        parameters = {
        'start':'1',
        'limit':'5000',
        'convert':'USD'
        }
        headers = {
        'Accepts': 'application/json',
        'X-CMC_PRO_API_KEY': '93c13268-7c12-43ce-8c8e-b3ba7ff26817',
        }

        session = Session()
        session.headers.update(headers)

        try:
            response = session.get(url, params=parameters)
            data = json.loads(response.text)
            #print(data)
        except (ConnectionError, Timeout, TooManyRedirects) as e:
            print(e)

        file2 = pd.json_normalize(data['data'])
        file2['timestamp']=pd.to_datetime('now')
        file = file.append(file2)

        if not os.path.isfile(r'/home/awal/Documents/xl/api.csv'):
            file.to_csv(r'/home/awal/Documents/xl/api.csv', header='column_names')
        else:
            file.to_csv(r'/home/awal/Documents/xl/api.csv', mode='a', header=False)

In [ ]:
import os
from time import time, sleep

for i in range(333):
    api_runner()
    print('API Runner completed Successfully!!')
    sleep(60) #sleep for every minute
    print("\n")
exit()

In [16]:
df = pd.read_csv(r'/home/awal/Documents/xl/api.csv')

In [17]:
df.head(5)

,Unnamed: 0,id,name,symbol,slug,cmc_rank,num_market_pairs,circulating_supply,total_supply,max_supply,last_updated,date_added,tags,platform,self_reported_circulating_supply,self_reported_market_cap,quote.USD.price,quote.USD.volume_24h,quote.USD.volume_change_24h,quote.USD.percent_change_1h,quote.USD.percent_change_24h,quote.USD.percent_change_7d,quote.USD.market_cap,quote.USD.market_cap_dominance,quote.USD.fully_diluted_market_cap,quote.USD.last_updated,timestamp
0,0,2089,etxunt8mkpf,qkantjyfvb,jfmdqc8rw9l,4478,4325,5772,4879,6517,2022-12-03T17:15:17.545Z,2022-12-03T17:15:17.545Z,"['o0uyh85lq5', 'twye6oixwa', '4b20q4bgdb4', 't...",NaN,NaN,NaN,0.73985,3160,0.78583,0.27800,0.33959,0.38300,0.65897,4514,0.50730,2022-12-03T17:15:17.545Z,2022-12-03 17:17:40.155165
1,1,8404,n9xk73e45vq,nhizaqb34vc,gfbznsctxa7,5616,2348,8093,5570,4048,2022-12-03T17:15:17.545Z,2022-12-03T17:15:17.545Z,"['k1z67r0nlrh', 'r5a9r97aje', 'edmhuxz21mp', '...",NaN,NaN,NaN,0.13321,6409,0.57042,0.97060,0.98832,0.60848,0.29595,2139,0.42216,2022-12-03T17:15:17.545Z,2022-12-03 17:17:40.155165
2,2,2878,h26ifgwcjmt,zhb98sfj63f,c3pini45spu,8326,464,9789,2610,9533,2022-12-03T17:15:17.545Z,2022-12-03T17:15:17.545Z,"['nw5bbr71qgq', 'hw6512c9qqb', 'qn4cuwph2pk', ...",NaN,NaN,NaN,0.94017,8067,0.28282,0.59101,0.50437,0.63672,0.53425,8219,0.29350,2022-12-03T17:15:17.545Z,2022-12-03 17:17:40.155165
3,3,6259,najlw8f4vi,yza44hdbbee,3fbewrl1kop,8742,4099,2860,8661,3797,2022-12-03T17:15:17.545Z,2022-12-03T17:15:17.545Z,"['w4gwppgeux', 'ed0hb6qd99p', 'gd4uchl0rsi', '...",NaN,NaN,NaN,0.44662,1014,0.02887,0.88316,0.85871,0.60592,0.69721,8008,0.90314,2022-12-03T17:15:17.545Z,2022-12-03 17:17:40.155165
4,4,1399,bbjbkp22va,11cxwenwbuea,qmo6attphq,3158,3203,1784,3254,7962,2022-12-03T17:15:17.545Z,2022-12-03T17:15:17.545Z,"['xssfhxch4an', 'sepfphh6m7m', '59yxwrro47', '...",NaN,NaN,NaN,0.11170,993,0.12390,0.29236,0.83246,0.03721,0.25988,3205,0.56321,2022-12-03T17:15:17.545Z,2022-12-03 17:17:40.155165

In [18]:
pd.set_option('display.float_format', lambda x: '%.5f' % x)
df.head(5)

,Unnamed: 0,id,name,symbol,slug,cmc_rank,num_market_pairs,circulating_supply,total_supply,max_supply,last_updated,date_added,tags,platform,self_reported_circulating_supply,self_reported_market_cap,quote.USD.price,quote.USD.volume_24h,quote.USD.volume_change_24h,quote.USD.percent_change_1h,quote.USD.percent_change_24h,quote.USD.percent_change_7d,quote.USD.market_cap,quote.USD.market_cap_dominance,quote.USD.fully_diluted_market_cap,quote.USD.last_updated,timestamp
0,0,2089,etxunt8mkpf,qkantjyfvb,jfmdqc8rw9l,4478,4325,5772,4879,6517,2022-12-03T17:15:17.545Z,2022-12-03T17:15:17.545Z,"['o0uyh85lq5', 'twye6oixwa', '4b20q4bgdb4', 't...",NaN,NaN,NaN,0.73985,3160,0.78583,0.27800,0.33959,0.38300,0.65897,4514,0.50730,2022-12-03T17:15:17.545Z,2022-12-03 17:17:40.155165
1,1,8404,n9xk73e45vq,nhizaqb34vc,gfbznsctxa7,5616,2348,8093,5570,4048,2022-12-03T17:15:17.545Z,2022-12-03T17:15:17.545Z,"['k1z67r0nlrh', 'r5a9r97aje', 'edmhuxz21mp', '...",NaN,NaN,NaN,0.13321,6409,0.57042,0.97060,0.98832,0.60848,0.29595,2139,0.42216,2022-12-03T17:15:17.545Z,2022-12-03 17:17:40.155165
2,2,2878,h26ifgwcjmt,zhb98sfj63f,c3pini45spu,8326,464,9789,2610,9533,2022-12-03T17:15:17.545Z,2022-12-03T17:15:17.545Z,"['nw5bbr71qgq', 'hw6512c9qqb', 'qn4cuwph2pk', ...",NaN,NaN,NaN,0.94017,8067,0.28282,0.59101,0.50437,0.63672,0.53425,8219,0.29350,2022-12-03T17:15:17.545Z,2022-12-03 17:17:40.155165
3,3,6259,najlw8f4vi,yza44hdbbee,3fbewrl1kop,8742,4099,2860,8661,3797,2022-12-03T17:15:17.545Z,2022-12-03T17:15:17.545Z,"['w4gwppgeux', 'ed0hb6qd99p', 'gd4uchl0rsi', '...",NaN,NaN,NaN,0.44662,1014,0.02887,0.88316,0.85871,0.60592,0.69721,8008,0.90314,2022-12-03T17:15:17.545Z,2022-12-03 17:17:40.155165
4,4,1399,bbjbkp22va,11cxwenwbuea,qmo6attphq,3158,3203,1784,3254,7962,2022-12-03T17:15:17.545Z,2022-12-03T17:15:17.545Z,"['xssfhxch4an', 'sepfphh6m7m', '59yxwrro47', '...",NaN,NaN,NaN,0.11170,993,0.12390,0.29236,0.83246,0.03721,0.25988,3205,0.56321,2022-12-03T17:15:17.545Z,2022-12-03 17:17:40.155165

In [19]:
df1= df.groupby('name', sort=False)[['quote.USD.percent_change_1h','quote.USD.percent_change_24h','quote.USD.percent_change_7d']].mean()
df1

,quote.USD.percent_change_1h,quote.USD.percent_change_24h,quote.USD.percent_change_7d
name,,,
etxunt8mkpf,0.27800,0.33959,0.38300
n9xk73e45vq,0.97060,0.98832,0.60848
h26ifgwcjmt,0.59101,0.50437,0.63672
najlw8f4vi,0.88316,0.85871,0.60592
bbjbkp22va,0.29236,0.83246,0.03721
...,...,...,...
to9m33p2a6,0.58336,0.49908,0.85978
7cs19miiugn,0.95320,0.36984,0.44659
9l3w7wpc1wt,0.18135,0.05158,0.97189
u7jssrr49bk,0.65085,0.38587,0.63796
o9ic7269w3g,0.59565,0.43400,0.58668

In [20]:
df2=df1.stack()
df2

name
etxunt8mkpf  quote.USD.percent_change_1h    0.27800
             quote.USD.percent_change_24h   0.33959
             quote.USD.percent_change_7d    0.38300
n9xk73e45vq  quote.USD.percent_change_1h    0.97060
             quote.USD.percent_change_24h   0.98832
                                              ...
u7jssrr49bk  quote.USD.percent_change_24h   0.38587
             quote.USD.percent_change_7d    0.63796
o9ic7269w3g  quote.USD.percent_change_1h    0.59565
             quote.USD.percent_change_24h   0.43400
             quote.USD.percent_change_7d    0.58668
Length: 4050, dtype: float64

In [21]:
df2.count()

4050

In [22]:
type(df2)

pandas.core.series.Series

In [11]:
df3=df2.to_frame(name='values')
df3

                                          values
name
etxunt8mkpf quote.USD.percent_change_1h  0.27800
            quote.USD.percent_change_24h 0.33959
            quote.USD.percent_change_7d  0.38300
n9xk73e45vq quote.USD.percent_change_1h  0.97060
            quote.USD.percent_change_24h 0.98832
...                                          ...
u7jssrr49bk quote.USD.percent_change_24h 0.38587
            quote.USD.percent_change_7d  0.63796
o9ic7269w3g quote.USD.percent_change_1h  0.59565
            quote.USD.percent_change_24h 0.43400
            quote.USD.percent_change_7d  0.58668

[4050 rows x 1 columns]

In [23]:
type(df3)

pandas.core.frame.DataFrame

In [24]:
index = pd.Index(range(900))
df4 = df3.reset_index()
df4

             name                       level_1  values
0     etxunt8mkpf   quote.USD.percent_change_1h 0.27800
1     etxunt8mkpf  quote.USD.percent_change_24h 0.33959
2     etxunt8mkpf   quote.USD.percent_change_7d 0.38300
3     n9xk73e45vq   quote.USD.percent_change_1h 0.97060
4     n9xk73e45vq  quote.USD.percent_change_24h 0.98832
...           ...                           ...     ...
4045  u7jssrr49bk  quote.USD.percent_change_24h 0.38587
4046  u7jssrr49bk   quote.USD.percent_change_7d 0.63796
4047  o9ic7269w3g   quote.USD.percent_change_1h 0.59565
4048  o9ic7269w3g  quote.USD.percent_change_24h 0.43400
4049  o9ic7269w3g   quote.USD.percent_change_7d 0.58668

[4050 rows x 3 columns]

In [25]:
df5=df4.rename(columns={'level_1': 'percent_change'})
df5

             name                percent_change  values
0     etxunt8mkpf   quote.USD.percent_change_1h 0.27800
1     etxunt8mkpf  quote.USD.percent_change_24h 0.33959
2     etxunt8mkpf   quote.USD.percent_change_7d 0.38300
3     n9xk73e45vq   quote.USD.percent_change_1h 0.97060
4     n9xk73e45vq  quote.USD.percent_change_24h 0.98832
...           ...                           ...     ...
4045  u7jssrr49bk  quote.USD.percent_change_24h 0.38587
4046  u7jssrr49bk   quote.USD.percent_change_7d 0.63796
4047  o9ic7269w3g   quote.USD.percent_change_1h 0.59565
4048  o9ic7269w3g  quote.USD.percent_change_24h 0.43400
4049  o9ic7269w3g   quote.USD.percent_change_7d 0.58668

[4050 rows x 3 columns]

In [ ]:
df5['percent_change'] = df5['percent_change'].replace(['quote.USD.percent_change_1h','quote.USD.percent_change_24h','quote.USD.percent_change_7d'],['1h','24h','7d'])
df5

In [ ]:
import seaborn as sns 
import matplotlib.pyplot as plt

In [13]:
sns.catplot(x='percent_change',y='values', hue='name',data=df5)

NameError: name 'sns' is not defined

In [ ]:
df7=df[['name', 'quote.USD.price','timestamp']]
df7.query("name =='etxunt8mkpf'")
df7

In [ ]:
sns.lineplot(x='timestamp', y='quote.USD.price', data=df7)